* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  height: 1px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul,
li {
  list-style: none;
}
a,
a:hover,
a:active.a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
/*vertical-align*/
.vertical-mid {
  vertical-align: middle;
}
/*color*/
.col-3 {
  color: #333;
}
.col-f {
  color: #fff;
}
/*bgcolor*/
/*position*/
.posi-fix {
  position: fixed;
}
.posi-re {
  position: relative;
}
.posi-ab {
  position: absolute;
}
/*display*/
.dis-b {
  display: block;
}
.dis-n {
  display: none;
}
.dis-inb {
  display: inline-block;
}
.dis-tab {
  display: table;
}
.dis-tab-cell {
  display: table-cell;
}
.dis-flex {
  display: flex;
}
/*height-line-height*/
/*css3*/
*[date-time="0.2s"] {
  animation-duration: 0.2s !important;
  -webkit-animation-duration: 0.2s !important;
  -moz-animation-duration: 0.2s !important;
  -o-animation-duration: 0.2s !important;
}
*[date-time="0.4s"] {
  animation-duration: 0.4s !important;
  -webkit-animation-duration: 0.4s !important;
  -moz-animation-duration: 0.4s !important;
  -o-animation-duration: 0.4s !important;
}
*[date-time="0.6s"] {
  animation-duration: 0.6s !important;
  -webkit-animation-duration: 0.6s !important;
  -moz-animation-duration: 0.6s !important;
  -o-animation-duration: 0.6s !important;
}
*[date-time="0.8s"] {
  animation-duration: 0.8s !important;
  -webkit-animation-duration: 0.8s !important;
  -moz-animation-duration: 0.8s !important;
  -o-animation-duration: 0.8s !important;
}
*[date-time="1.0s"] {
  animation-duration: 1s !important;
  -webkit-animation-duration: 1s !important;
  -moz-animation-duration: 1s !important;
  -o-animation-duration: 1s !important;
}
*[date-time="1.2s"] {
  animation-duration: 1.2s !important;
  -webkit-animation-duration: 1.2s !important;
  -moz-animation-duration: 1.2s !important;
  -o-animation-duration: 1.2s !important;
}
*[date-time="1.4s"] {
  animation-duration: 1.4s !important;
  -webkit-animation-duration: 1.4s !important;
  -moz-animation-duration: 1.4s !important;
  -o-animation-duration: 1.4s !important;
}
/**/
/*头像旋转*/
@keyframes txAnimation {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  25% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}
/*背景图动画*/
@keyframes imageAnimation {
  0% {
    background-size: 100% 100%;
    opacity: .7;
    transition-timing-function: ease-in;
  }
  50% {
    background-size: 120% 120%;
    opacity: 1;
    transition-timing-function: ease-out;
  }
  100% {
    background-size: 100% 100%;
    opacity: .7;
    transition-timing-function: ease-in;
  }
}
@-webkit-keyframes imageAnimation {
  0% {
    background-size: 100% 100%;
    opacity: .7;
    -webkit-transition-timing-function: ease-in;
  }
  50% {
    background-size: 120% 120%;
    opacity: 1;
    -webkit-transition-timing-function: ease-out;
  }
  100% {
    background-size: 100% 100%;
    opacity: .7;
    -webkit-transition-timing-function: ease-in;
  }
}
